*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.board {
	width: 700px;
	height: 700px;
	border: 30px solid #3E0600;
	position: relative;
	margin: 10px auto;
	position: relative;
	background-color: #FFF7B2;
}
.board div div {
	width: 80px;
	height: 80px;
	background-color: #585858;
	position: absolute;
}
.board div:nth-child(1) div {
	top :0px;
}
.board div:nth-child(2) div {
	top: 80px;
}
.board div:nth-child(3) div {
	top: 160px;
}
.board div:nth-child(4) div {
	top: 240px;
}
.board div:nth-child(5) div {
	top: 320px;
}
.board div:nth-child(6) div {
	top: 400px;
}
.board div:nth-child(7) div {
	top: 480px;
}
.board div:nth-child(8) div {
	top: 560px;
}
.board div:nth-child(odd) div:nth-child(1) {
	left: 80px;
}
.board div:nth-child(odd) div:nth-child(2) {
	left: 240px;
}
.board div:nth-child(odd) div:nth-child(3) {
	left: 400px;
}
.board div:nth-child(odd) div:nth-child(4) {
	left: 560px;
}
.board div:nth-child(even) div:nth-child(1) {
	left: 0px;
}
.board div:nth-child(even) div:nth-child(2) {
	left: 160px;
}
.board div:nth-child(even) div:nth-child(3) {
	left: 320px;
}
.board div:nth-child(even) div:nth-child(4) {
	left: 480px;
}
.board div div div.black-checker {
	background-color: black;
}
.board div div div.white-checker {
	background-color: white;
}
.board div div div.checker {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: static;
	margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;
	transition: 0.2s ease-in;
	transition-property: box-shadow;
}
.board div div div.checker:hover {
	box-shadow: 0 0 30px rgba(255,255,255,1);
}








